body{
    background-color: aqua;
}
.game-board{
    background-color: rgb(180, 216, 81);
    width: 100px;
    height: 200px;
    display: flex;
    flex-wrap: wrap;

}
.game-board div{
    width: 20px;
    height: 20px;
}

.cell{
    background-color: rgb(215, 123, 238);  
}