body{
    background: linear-gradient(to bottom, #33ccff 0%, #ff99cc 100%);
    /* background: radial-gradient(#33ccff 0%, #ff99cc 100%); */
    height: 100vh;
    font-family: 'Rajdhani', sans-serif;
    
}
.display-container{
    /* background-color: burlywood; */
    display: flex;
    justify-content: space-around;

}
.game-board{
    /* background-color: black; */
    /* background-color: rgb(180, 216, 81); */
    width: 300px;
    height: 600px;
    display: flex;
    flex-wrap: wrap;
    background-color: rgba(29, 28, 28, 0.5);
    border-radius: 10px;

}
.game-board div{
    
    width: 30px;
    height: 30px;
    
}
.info-board{
    /* background-color: black; */
    /* background-color: rgb(180, 216, 81); */
    width: 300px;
    height: 600px;
    align-items: center;
    align-content: center;
    display: flex;
    flex-flow: column;
}
.jumbotron{
    background-color: rgba(29, 28, 28, 0);
    text-align: center;
    
}
h1{
    font-size: 70px ;
    font-weight: 800;
    color: white;
}

.cell-l{
    background: radial-gradient(#ffccff 0%, #ff66ff 100%);
    border: solid 3px rgb(168, 43, 199);
    border-radius: 5px;  
}
.cell-i{
    background: radial-gradient(#ffff99 0%, #ffcc00 100%);
    border: solid 3px rgb(181, 140, 6);
    border-radius: 5px;  
}
.cell-t{
    background: radial-gradient( #99ff99 0%, #00cc00 100%);
    border: solid 3px rgb(88, 136, 12);
    border-radius: 5px;  
}
.cell-z{
    background: radial-gradient( #99ccff 0%, #0066ff 100%);
    /* background-color: rgb(32, 186, 221); */
    border: solid 3px rgb(4, 91, 110);
    border-radius: 5px;  
}
.cell-o{
    background: radial-gradient(#ffcc99 0%, #ff6600 100%);
    border: solid 3px rgb(158, 84, 4);
    border-radius: 5px;  
}


.next-game-board{
    /* background-color: black; */
    width: 120px;
    height: 120px;
    display: flex;
    flex-wrap: wrap;
}

.next-game-board div{
    
    width: 30px;
    height: 30px;
}
/* .jumbotron {
    height: 200px;
} */
.score-display{
    /* background: radial-gradient(#33ccff 0%, #ff99cc 100%); */
    height: 200px;
    text-align: center;
    font-size: 30px;
    color: white;
    margin: auto;

}

#play-button {
    background-image: linear-gradient( 160deg, #ff0000, #ec008c );
    color: white;
    margin-left: 20px;    
}


  


